<!-- <section class="sample-app-content">
    <h1>User Form:</h1>
    <form #f="ngForm" (ngSubmit)="onSubmitTemplateBased()">
        <p>
            <label>First Name:</label>
            <input type="text"  
                [(ngModel)]="user.firstName" required>
        </p>
        <p>
            <label>Password:</label>
            <input type="password"  
                [(ngModel)]="user.password" required>
        </p>
        <p>
            <button type="submit" [disabled]="!f.valid">Submit</button>
        </p>
    </form>
</section> -->


<!-- <form name="form" #f="ngForm" (ngSubmit)="ondataSubmit()" novalidate >
    <div class="form-group">
      <label for="fullname">Full Name:</label>
      <input type="text" name="fname"  class="form-control" #fname = "ngModel" [(ngModel)] = "model.fname"  required />
        <div  class="invalid-feedback">
            <div *ngIf="fname.errors.required">First Name is required</div>
        </div>
    </div>
    <div class="form-group">
      <label for="pwd">Email:</label>
      <input type="email" class="form-control" name="email" #email = "ngModel" [(ngModel)] = "model.email" />
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form> -->

<div class="row">
    <div class="col-md-8 offset-md-0">
        <h5 class="col-sm-10 offset-md-2"  >Enter Configuration Details</h5>
        <div class="row">&nbsp;</div>
        <form   name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="maxDriveTrips">Max Acceptable Drive Trips</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="maxDriveTrips" [(ngModel)]="model.maxDriveTrips" #maxDriveTrips="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maxDriveTrips.invalid }" required min="1" max="100" />
                    <div *ngIf="f.submitted && maxDriveTrips.invalid" class="invalid-feedback">
                        <div *ngIf="maxDriveTrips.errors.required; else invalidInput">Required</div>
                        <ng-template #invalidInput>
                                Value should be in range of 1-100
                            </ng-template>
                            
                        <!-- <div *ngIf="maxDriveTrips.invalid && !maxDriveTrips.errors.required">Value should be in range of 1-100</div> -->
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="maxDoorTrips">Max Acceptable Door Trips</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="maxDoorTrips" [(ngModel)]="model.maxDoorTrips" #maxDoorTrips="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maxDoorTrips.invalid }" required min="1" max="100" />
                    <div *ngIf="f.submitted && maxDoorTrips.invalid" class="invalid-feedback">
                        <div *ngIf="maxDoorTrips.errors.required">Required</div>
                        <div *ngIf="maxDoorTrips.invalid && !maxDoorTrips.errors.required">Value should be in range of 1-100</div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="maxDriveCurrent">Max Acceptable Drive Current</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="maxDriveCurrent" [(ngModel)]="model.maxDriveCurrent" #maxDriveCurrent="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maxDriveCurrent.invalid }" required min="1" max="100"/>
                    <div *ngIf="f.submitted && maxDriveCurrent.invalid" class="invalid-feedback">
                        <div *ngIf="maxDriveCurrent.errors.required">Required</div>
                        <div *ngIf="maxDriveCurrent.invalid && !maxDriveCurrent.errors.required">Value should be in range of 1-100</div>
                        <!-- <div *ngIf="maxDriveCurrent.errors.email">Email must be a valid email address</div> -->
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-4 col-form-label" for="maxDoorCurrent">Max Acceptable Door Current</label>
                <div class="col-sm-8">
                    <input type="number" class="form-control" name="maxDoorCurrent" [(ngModel)]="model.maxDoorCurrent" #maxDoorCurrent="ngModel" [ngClass]="{ 'is-invalid': f.submitted && maxDoorCurrent.invalid }" required min="1" max="100" />
                    <div *ngIf="f.submitted && maxDoorCurrent.invalid" class="invalid-feedback">
                        <div *ngIf="maxDoorCurrent.errors.required">Required</div>
                        <div *ngIf="maxDoorCurrent.invalid && !maxDoorCurrent.errors.required">Value should be in range of 1-100</div>
                    </div>
                </div>
            </div>
            <div class="form-group row ">
                <div class="col-sm-8 offset-md-4">
                    <button class="btn btn-primary ">Save Configuration</button>
                </div>
            </div>
        </form>
    </div>
</div>